.nav{
display: flex;
justify-content: space-between;
align-items: center;
margin: 40px 120px;
color: white;
}
.nav-logo{
font-family: Outfit;
font-size: 42px;
font-weight: 500;
}
.nav-menu{
display: flex;
align-items: center;
list-style: none;
font-size: 18px;
gap: 90px;
}
.nav-contact{
border-radius: 50px;
padding: 10px 38px;
background: #fff;
color: #262626;
}

@media (max-width: 1024px) {
  .nav {
    margin: 30px 60px;
    display: block;
  }

  .nav-logo {
    font-size: 36px;
  }

  .nav-menu {
    gap: 50px;
    font-size: 16px;
  }

  .nav-contact {
    padding: 8px 28px;
  }
}


@media (max-width: 768px) {
   .nav {
    float: left;
    display: block;
  }

  .nav-logo {
    font-size: 36px;
    margin-left: -30px;
  }

  .nav-menu {
    gap: 20px;
    font-size: 16px;
    margin-left: -30px;
  }

  .nav-contact {
    padding: 5px 25px;
  }
}